/* ------------------------------------------------------------------- */
/*                              Variables
/* ------------------------------------------------------------------- */

// ------------> Colors

// $dark: #333333
$dark: #1c1c1c
$light: #fcfaf9


// ------------> Body Colors

// $body: linear-gradient(#e66465, #9198e5)
// $body: linear-gradient(45deg, #0B2ACC, #3390bf)
// $body: linear-gradient(#5ebfa4, #8ba6ff)
// $body: linear-gradient($light, #ffbe46)
$body: url('https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')

// ------------> Nav Colors

// 62CC36
// 5CA816
// 34A314
$nav: #1c1c1ce6
$navSecond: #52AE06

// ------------> Main Colors

$main: #52AE06
$additional: #fcfaf90d

// ------------> Additional Colors

$error: #ad1221

// ------------>  Margin
$margin: 25px

// ------------> Font-size
$font: 3rem

// ------------> Transition
$time: 0.5s

// ------------> Border
$radius: 0px
$width: 0px
