/* ------------------------------------------------------------------- */
/*                              Variables
/* ------------------------------------------------------------------- */

// =====> Colors

// $dark: #333333
$dark: #1c1c1c
$light: #fcfaf9

// =====> Body background

$body: url('https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
$over: #1c1c1cb3

// =====> Nav Colors

$nav: #1c1c1ce6
$navSecond: #52AE06

// =====> Main Colors

$main: #52AE06
$additional: #fcfaf90d

// =====> Additional Colors

// Error message
$error: #ad1221

// Loader border & bg colors
$lbcolor: rgba(0,0,0,.1)
$lcolor: rgba(0,0,0,.2)

// =====>  Margin
$margin: 25px

// =====> Font-size
$font: 3rem

// =====> Border
$radius: 0px
$width: 0px

// =====> Transition
$time: 0.5s

// =====> Loader animation speed
$lspeed: 1s
